@model FY111.Models.FY111User.ManageModel

@{
    ViewData["Title"] = @Localizer["Edit"];
}

<h1>@ViewData["Title"]</h1>

<h4>@Localizer["User"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" disabled/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                @Html.DisplayFor(model => model.Avatar, "ToImage", new{ @belong = "User/" + Model.Id })
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" disabled/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization" class="control-label"></label>
                <input asp-for="Organization" class="form-control"/>
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select class="form-control" asp-for="Role">
                    <option value="SuperAdmin">SuperAdmin</option>
                    <option value="ClassAdmin">ClassAdmin</option>
                    <option value="GroupUser">GroupUser</option>
                    <option value="NormalUser">NormalUser</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@(Localizer["Save"])" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</a>
</div>

