@model IEnumerable<FY111.Models.FY111User.ManageModel>
@{
    ViewData["Title"] = "組織管理";
}

<h1>組織管理 - @ViewData["Organization"]</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id, "SubString")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.Avatar, "ToImage", new{ @belong = "User/" + item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="btn-group">
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
