@model FY111.Models.FY111.ClassUnitApp

@{
    ViewData["Title"] = @Localizer["Create"];
}

<h1>@ViewData["Title"]</h1>

<h4>@Localizer["ClassUnitApp"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateApplication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassUnitId" value="@(ViewData["ClassUnitId"])" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                @Html.EditorFor(model => model.Application, "FileUploader", new { @belong = "Application/" })
                <span asp-validation-for="Application" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@(Localizer["Create"])" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DetailsUnit" asp-route-id="@(ViewData["ClassUnitId"])" class="btn btn-primary">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
