@model FY111.Models.FY111.Class

@{
    ViewData["Title"] = @Localizer["Details"];
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Localizer["Class"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Image, "ToImage", new { @belong = "Class" })
        </dd>
        <dd class="col-sm-8">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SignupEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SignupEnabled, "ToBool")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckinEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckinEnabled, "ToBool")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
    <div class="row justify-content-end">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["Edit"]</a>
        <a asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</a>
    </div>
</div>

<h4>@Localizer["ClassUnits"]</h4>
<hr />

<a asp-action="CreateUnit" asp-route-ClassId="@Model.Id" asp-route-ClassCode="@Model.Code" class="btn btn-primary">@Localizer["Create New"]</a>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassUnits.ElementAt(0).Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassUnits.ElementAt(0).Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassUnits.ElementAt(0).Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClassUnits)
        {
            <tr class="">
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td width="10%">
                    @Html.DisplayFor(modelItem => item.Image, "ToImage", new { belong = "ClassUnit" })
                </td>
                <td class="btn-group float-right">
                    <a asp-action="EditUnit" asp-route-id="@item.Id" class="btn btn-primary">@Localizer["Edit"]</a>
                    <a asp-action="DetailsUnit" asp-route-id="@item.Id" class="btn btn-primary">@Localizer["Details"]</a>
                    <a asp-action="DeleteUnit" asp-route-id="@item.Id" class="btn btn-danger">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>