@model FY111.Models.FY111.ClassUnitApp

@{
    ViewData["Title"] = @Localizer["Details"];
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Localizer["ClassUnitApp"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application)
        </dd>
    </dl>
    <div class="row justify-content-end">
        <a asp-action="EditApplication" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["EditApplication"]</a>
        <a asp-action="DetailsUnit" asp-route-id="@(Model.ClassUnitId)" class="btn btn-primary">@Localizer["Back to List"]</a>
    </div>
</div>
