@model string
@{
    string dirPath = ViewData["belong"] + "/";
}

<div class="custom-file mb-3">
    <label asp-for="@Model" class="custom-file-label">
        @if (@Model != null)
        {
            @Model
        }
        else
        {
            <span>@Localizer["尚未上傳檔案"]</span>
        }
    </label>
    <input asp-for="@Model" onchange="fileChange();" value="@Model"  class="custom-file-input" type="file" />
    <span class="text-danger"></span>
</div>
<div>
    @if (@Model != null && !@Model.EndsWith(".exe"))
    {
        <img src="~/@(dirPath + Model)" class="img-thumbnail image" style="display:block" />
    }
    else
    {
        <img src="" class="img-fluid image" style="display:none" />
    }
</div>

<script type="text/javascript">
    function fileChange(){
        var files = $('input[type="file"]').get(0).files;
        var fileName = files[0].name;
        var dirpath = '@(ViewData["belong"].ToString().Replace("/","\\\\"))'+"\\";
        if (window.FormData !== undefined) {
            var formData = new FormData();
            formData.append("dirPath", dirpath);
            for (var i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }
            $.ajax({
                type: 'POST',
                url: "/api/Files",
                data: formData,
                processData: false,
                contentType: false
            }).done(function(data){
                if(data.message === undefined){
                    if(fileName.endsWith('.exe')){
                    }
                    else{
                        $('.image').prop('src', '/' + "@dirPath" + fileName).prop('style', 'display:block;');
                    }
                    $('input[type="file"]').siblings(".custom-file-label").addClass("selected").html(fileName);
                    $('input[type="file"]').prop('value', fileName);
                }
                else{
                    //$('input[type="file"]').siblings(".text-danger").html(data.message)
                }
            });
        }
    }
</script>
