@model IEnumerable<FY111.Models.FY111.training>

@{
    ViewData["Title"] = @Localizer["組織課程管理"];
}

<h1>@ViewData["Title"] - @ViewData["Organization"]</h1>

<table class="table table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Localizer["選擇"]
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <form asp-action="OrganizationSignUp">
            <tr>
                <input type="text" value=@Model.ElementAt(i).Id name="id" hidden />
                <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Class.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).StartDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).EndDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).StartTime)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).EndTime)
                </td>
                <td>
                    <input type="date" name="date" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" max="@Model.ElementAt(i).EndDate.Value.ToString("yyyy-MM-dd")" class="form-control" />
                </td>
                <td class="float-right">
                    <input type="submit" value="@(Localizer["Save"])" class="btn btn-primary" />
                </td>
            </tr>

            </form>
        }
    </tbody>
</table>

<h2>@Localizer["已報名課程"]</h2>
<table class="table table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassSignups.ElementAt(0).Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            @foreach (var item in Model.ElementAt(i).ClassSignups)
            {
                @if (item.Date > DateTime.Now)
                {
                    <form asp-action="DeleteOrganizationSignUp">
                    <tr>
                        <input type="hidden" name="id" value="@Model.ElementAt(i).Id" />
                        <input type="hidden" name="date" value="@item.Date" />
                        <td>
                                @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td class="float-right">
                            <input type="submit" value="@(Localizer["刪除"])" class="btn btn-danger" />
                        </td>
                    </tr>
                    </form>
                }
            }
        }
    </tbody>
</table>

@section Scripts{
<script>
    $('input[type="submit"]').click(function(){
        $('input[type="checkbox"]').each(function(){
            $(this).val(this.checked);
        });
    });
</script>

}