@model IEnumerable<FY111.Models.FY111.SignUpManageModel>

@{
    ViewData["Title"] = @Localizer["組織課程管理"];
}

<h1>@ViewData["Title"] - @ViewData["Organization"]</h1>

<form asp-action="OrganizationSignUp" >
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    <a asp-action="OrganizationSignUp" asp-route-sortOrder="@ViewData["SignUpParm"]">@Html.DisplayNameFor(model => model.isSignedUp)</a>
                </th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Count(); i++) {
            <tr>
                <input type="text" value=@Model.ElementAt(i).Id name="models[@i.ToString()].Id" hidden />
                <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).ClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).date)
                </td>
                @*<td width="10%">
            @Html.DisplayFor(modelItem => Model.ElementAt(i).Image, "ToImage", new{ @belong = "Class"})
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).EndTime)
                </td>
                <td>
                    <input type="checkbox" name="models[@i.ToString()].isSignedUp" @(Model.ElementAt(i).isSignedUp ? "checked=checked" : "") />
                </td>
            </tr>
        }
        </tbody>
    </table>
    <input type="submit" value="@(Localizer["Save"])" class="btn btn-primary" />
</form>

@section Scripts{
    <script>
    $('input[type="submit"]').click(function(){
        $('input[type="checkbox"]').each(function(){
            $(this).val(this.checked);
        });
    });
    </script>

}