@model IEnumerable<FY111.Models.FY111.Device>

@{
    ViewData["Title"] = @Localizer["Device Management"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">@Localizer["Create New"]</a>
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.Icon, "ToImage", new{ @belong = "Device" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="btn-group"> 
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">@Localizer["Edit"]</a> 
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">@Localizer["Details"]</a> 
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
