@model IEnumerable<FY111.Models.FY111.Metaverse>

@{
    ViewData["Title"] = "元宇宙管理";
}

<h1>元宇宙管理</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">新增</a>
</p>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignupEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckinEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ip)
                </td>
                <td width="10%">
                    @Html.DisplayFor(modelItem => item.Icon, "ToImage", new{ @belong = "Metaverse" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduction, "SubString")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignupEnabled, "ToBool")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckinEnabled, "ToBool")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
